@charset "ISO-8859-1";

body{
	background-image: url("images/blogsBackground.jpg");
     height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}