@charset "ISO-8859-1";

.movieCard-body {
	background-image:
		url("images/MovieCardBackgroundReel.jpg");
	background-color: #cccccc;
	height: 100%;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	position: relative;
}


.spaceTop{
	padding-top : 12px;
}
.movieCard {
	position: relative;
	max-width: 200px;
}

.movieCard img {
	width: 200px;
	height: 300px;
}

.movieCard .submit {
	width: 200px;
	height: 300px;
	background-color: Transparent;
	border: none;
	position: absolute;
	top: 43.3%;
	left: 50%;
	transform: translate(-50%, -55%);
	-ms-transform: translate(-50%, -50%);
	cursor: pointer;
}

h3 {
	font-size: 20pt;
}