@charset "ISO-8859-1";

.card {
  position: relative;  
  max-width: 200px;
}

.card img {
  width : 200px;
  height : 300px;
}

.card .submit {
	width:200px;
    height : 300px;
    background-color: Transparent;
    border: none;
  position: absolute;
  top: 43.3%;
  left: 50%;
  transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
