<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <servlet>
  	<servlet-name>SearchMovieName</servlet-name>
  	<servlet-class>controllers.api.movies.SearchMovieName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchMovieData</servlet-name>
  	<servlet-class>controllers.api.movies.SearchMovieData</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchMovieName</servlet-name>
  	<url-pattern>/SearchMovieName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchMovieData</servlet-name>
  	<url-pattern>/SearchMovieData</url-pattern>
  </servlet-mapping>
</web-app>